<div class="container">
    <div class="logo" routerLink="/">
        <h3>Answer<span>Streams</span></h3>
    </div>
    <div class="details">
        <div class="links">
            <a href="" routerLink="/questions">Questions</a>
            <a href="" routerLink="/questions">Unanswered</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search...">
        </div>
        <div class="auth-area">
            <button class="login-btn" routerLink="/login">Log in</button>
            <button class="signup-btn" routerLink="/register">Sign up</button>
            <div class="icon"></div>
        </div>
    </div>
</div>