<div class="container">
    <div class="logo">
        <h3>Answer<span>Streams</span></h3>
    </div>
    <div class="details">
        <div class="links">
            <a href="">Questions</a>
            <a href="">Unanswered</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search...">
        </div>
        <div class="auth-area">
            <button class="login-btn">Log in</button>
            <button class="signup-btn">Sign up</button>
            <div class="icon"></div>
        </div>
    </div>
</div>
