<app-header></app-header>
<div class="container">
    <form action="">
        <h3>SIGN UP</h3>
        <div class="input-container">
            <label for="">Name</label>
            <input type="text">
        </div>
        <div class="input-container">
            <label for="">Email</label>
            <input type="text">
        </div>
        <div class="input-container">
            <label for="">Proffession</label>
            <input type="text">
        </div>
        <div class="input-container">
            <label for="">Password</label>
            <input type="text">
        </div>
        <div class="input-container">
            <label for="">Confirm Password</label>
            <input type="text">
        </div>
        <div class="btn">
            <button class="sign-up">Sign Up</button>
            <p>don't have an account ? click <a href="">log in</a> instead</p>
        </div>
    </form>
</div>
<app-footer></app-footer>
