<app-header></app-header>
<div class="container">
    <form (ngSubmit)="onSubmit(registerForm)" #registerForm ="ngForm">
        <h3>SIGN UP</h3>
        <div class="input-container">
            <label for="">Name</label>
            <input type="text" name="name" ngModel #name="ngModel" required>
            <span class="invalid-entry" *ngIf="name.touched && name.invalid">Name cannot be empty</span>
        </div>
        <div class="input-container">
            <label for="email" >Email</label>
            <input type="email" name="email" ngModel required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"#email="ngModel">
            <span *ngIf="email.touched && email.invalid " class="invalid-entry">Please enter a valid email address</span>
        </div>
        <div class="input-container">
            <label for="">Password</label>
            <input type="password" name="password" ngModel #password="ngModel" required>
            <span class="invalid-entry" *ngIf="password.touched && password.invalid">Password cannot be empty</span>
        </div>
        <div class="btn">
            <button class="sign-up">Sign Up</button>
            <p>don't have an account ? click <a routerLink="/login">log in</a> instead</p>
        </div>
    </form>
</div>
<app-footer></app-footer>
