<app-header></app-header>
<div class="container">
    <div class="user">
        <div class="profile-picture">

        </div>
        <div class="user-details">
            <h3>Post Ma Loan</h3>
            <h3>Software Engineer</h3>
            <p>1 question</p>
            <p>12 answers</p>
        </div>

    </div>
    <div class="user-activity">
        <div class="tags">
            <button class="tag">All Questions</button>
            <button class="tag">Recent Questions</button>
            <button class="tag">Active Questions</button>
            <button class="tag">All Answers</button>
        </div>
        <div class="activity-container">

        </div>
    </div>
</div>
<app-footer></app-footer>