<app-header></app-header>
<div class="container">
    <form action="">
        <h3>LOG IN</h3>
        <div class="input-container">
            <label for="">Email</label>
            <input type="text">
        </div>
        <div class="input-container">
            <label for="">Password</label>
            <input type="text">
        </div>
        <div class="btn">
            <button class="log-in">Log In</button>
            <p>don't have an account ? click <a href="">sign-up</a> instead</p>
        </div>
    </form>
</div>
<app-footer></app-footer>
