<app-header></app-header>
<!-- <div style="margin-top: 64px;"></div> -->
<p-card>
    <!-- <button class="ask-question" routerLink="/ask">Ask</button> -->
    <p-dataview [rows]="7" [value]="questions" [paginator]="true">
        <ng-template #list let-items>
            <div class="grid grid-cols-12 grid-nogutter border-bottom-1 pt-2 lg:w-full" *ngFor="let item of items">
                <div class="col-1">

                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                        shape="square" />
                </div>
                <div class="col-11 pb-2 grid">
                    <div class="col-12 pl-0 pb-0">
                        <i class="text-400">
                            {{item.userId }}
                        </i>
                        {{item.createdAt | date }} {{ item.created |date:'shortTime' }}
                    </div>
                    <div class="mt-3">
                        <div class="cursor-pointer" (click)="viewQuestion(item.questionId)">
                            <b class="text-500">
                                {{item.title}}
                            </b>
                        </div>
                        <!-- create a pipe to shorten text under show more -->
                        <div class="h-2rem">
                            <i>
                                {{item.body}}
                            </i>
                        </div>
                    </div>

                    <div class="col-12 p-0">
                        <div class="flex justify-content-around align-items-center p-0">
                            <p-button icon="pi pi-thumbs-up" [rounded]="true" severity="secondary" size="small" />
                            <p-button icon="pi pi-thumbs-down" [rounded]="true" severity="secondary" size="small" />
                            <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" size="small" />
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
    <!-- <p-speeddial [model]="speedDialAction" direction="down-right" [style]="{ position: 'fixed', bottom: '4rem', right: '2rem', zIndex: 1000 }" ></p-speeddial> -->
    <p-button icon="pi pi-plus" [rounded]="true" severity="info"
        [style]="{ position: 'fixed', bottom: '6rem', right: '4rem', zIndex: 1000 }" (click)="openAskQuestionDialog()"
        size="large"></p-button>
</p-card>

<!-- <app-footer></app-footer> -->