<app-header></app-header>
<div class="container">
    <div class="heading">
        <h2>All Questions</h2>
        <button class="ask-question">Ask</button>
    </div>
    <div class="question-container" *ngFor="let number of [0,1,2,3]">
        <div class="question">
            <div class="question-activity">
                <div class="votes">
                    <p>0  votes</p>
                </div>
                <div class="answers">
                    <p>1 Answer</p>
                </div>
            </div>
            <div class="question-heading">
                <h3 (click)="getQuestions()">Why is the sky blue?</h3>
            </div>
            <div class="question-body">
                <p>Lately i have been thinking about the sky and why its color rarely changes, on very rare occasions .......</p>
            </div>
            <div class="user-details">
                <div class="user">
                    <p>Ian Kamande</p>
                </div>
                <div class="date">
                    <p>12/03/2021</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-links">
        <div class="page">
           <button>1</button>
        </div>
        <div class="page">
            <button>2</button>
        </div>
        <div class="page">
            <button>3</button>
        </div>
        <div class="page">
            <button>next</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
