<app-header></app-header>
<!-- <div style="margin-top: 64px;"></div> -->
<p-card>
    <!-- <button class="ask-question" routerLink="/ask">Ask</button> -->
    <p-dataview [rows]="5" [value]="questions" [paginator]="true">
        <ng-template #list let-items>
            <div class="grid grid-cols-12 gap-4 grid-nogutter border-bottom-1 p-3" *ngFor="let item of items">
                <div class="col-1grid">
                    <div class="col-12 h-2rem">
                        
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" size="xlarge" shape="circle" />
                    </div>
                    <div class="col-12 h-9rem"></div>
                </div>
                <div class="col-5 grid">
                    <div class="col-12 h-1.5rem">
                        <div>
                            <b>
                                {{item.userId }}
                            </b>
                            {{item.createdAt | date }} {{ item.created |date:'shortTime' }}
                        </div>
                        <div>
                            <b>
                                {{item.title}}
                            </b>
                        </div>
                    </div>
                    
                    <!-- create a pipe to shorten text under show more -->
                    <div class="col-12 h-3rem">{{item.body}}</div>
                    <div class="col-12 h-1.5rem">
                        <div class="flex justify-content-around">
                            <p-button icon="pi pi-thumbs-up" [rounded]="true" severity="secondary" />
                            <p-button icon="pi pi-thumbs-down" [rounded]="true" severity="secondary" />
                            <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" />
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
    <!-- <p-speeddial [model]="speedDialAction" direction="down-right" [style]="{ position: 'fixed', bottom: '4rem', right: '2rem', zIndex: 1000 }" ></p-speeddial> -->
    <p-button icon="pi pi-plus" [rounded]="true" severity="info" [style]="{ position: 'fixed', bottom: '6rem', right: '4rem', zIndex: 1000 }" (click)="routeToAskPage()" size="large"></p-button>
</p-card>

<app-footer></app-footer>