<p-card>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        <!-- title -->
        <div class="flex flex-column gap-2">

            <div class="">
                <p-floatlabel variant="on">
                    <input pInputText id="title" autocomplete="off" formControlName="title" class="w-full" />
                    <label for="describe">Title</label>
                </p-floatlabel>
            </div>

            <!-- body -->
            <div class="">
                <p-floatlabel variant="in">
                    <textarea class="w-full" pTextarea id="describe" formControlName="body" rows="5" style="resize: none">
                    </textarea>
                    <label for="describe">Describe your question here</label>
                </p-floatlabel>
            </div>

            <!-- submit button -->
            <div class="flex align-self-end">
                <p-button label="Ask" severity="info" type="submit" />
            </div>
        </div>
    </form>
</p-card>
