<app-header></app-header>

<div class="container">
    <div class="question-area">
        <div class="question-heading">
            <div class="heading">
                <h2>{{question?.title}}</h2>
            </div>
            <div class="date">
                <p>{{question?.createdAt | date:'short': 'UTC'}}</p>
            </div>
        </div>
        <div class="question-body">
            <div class="votes-area">
                <fa-icon class="thumbs" [icon]="faThumbsUp"></fa-icon>
                <div class="count">
                    <p class="vote-count">0</p>
                </div>
                <fa-icon class="thumbs" [icon]="faThumbsDown"></fa-icon>
            </div>
            <div class="text-area">
                <p>{{question?.body}}</p>
            </div>
        </div>
        <!-- <hr> -->
        <!-- <div class="comments-area">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus omnis est laboriosam repudiandae ab dolorum ducimus magni. Nulla accusamus saepe eos tempore! Debitis reprehenderit voluptas architecto molestias accusamus non.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus omnis est laboriosam repudiandae ab dolorum ducimus magni. Nulla accusamus saepe eos tempore! Debitis reprehenderit voluptas architecto molestias accusamus non.</p>

            <div class="add-comment">
                <div class="add-comment">
                    <textarea name="" id="" cols="30" rows="2"></textarea>
                    <button>add-comment</button>
                </div>
            </div>
        </div> -->
    </div>
    <hr>
    <h4>Answers</h4>
    <div class="answer-area" *ngFor="let answer of answers">
        <hr>
        <div class="answer-body">
            <div class="votes-area">
                <fa-icon class="thumbs" [icon]="faThumbsUp"></fa-icon>
                <div class="count">
                    <p class="vote-count">0</p>
                </div>
                <fa-icon class="thumbs" [icon]="faThumbsDown"></fa-icon>
            </div>
            <div class="text-area">
                <p>{{answer.body}}</p>
            </div>
        </div>
        <hr>
        <div class="comments-area">
          
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus omnis est laboriosam repudiandae ab dolorum ducimus magni. Nulla accusamus saepe eos tempore! Debitis reprehenderit voluptas architecto molestias accusamus non.</p>
            <div class="add-comment">
                <textarea name="" id="" cols="30" rows="2"></textarea>
                <button>comment</button>
            </div>
        </div>
    </div>
    <div class="add-answer">
        <textarea name="" id="" cols="30" rows="3"></textarea>
        <button>Add answer</button>
    </div>
</div>

<app-footer></app-footer>